head
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block title
        title Litani
    link(rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon-180x180.png")
    link(rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="/assets/favicons/favicon-194x194.png" sizes="194x194")
    link(rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96")
    link(rel="icon" type="image/png" href="/assets/favicons/android-chrome-192x192.png" sizes="192x192")
    link(rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16")
    link(rel="manifest" href="/assets/favicons/manifest.json")
    link(rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#ff5252")
    link(rel="shortcut icon" href="/assets/favicons/favicon.ico")
    meta(name="apple-mobile-web-app-title" content="My Litani")
    meta(name="application-name" content="My Litani")
    meta(name="msapplication-TileColor" content="#ff5252")
    meta(name="msapplication-TileImage" content="/assets/favicons/mstile-144x144.png")
    meta(name="msapplication-config" content="/assets/favicons/browserconfig.xml")
    meta(name="theme-color" content="#ffffff")
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    link(rel="stylesheet" href="css/style.css")
    script(src='js/modernizr-custom.js')