nav.offcanvas
    div#slide-out.side-nav
        a(href='/').offcanvas__logo
            include ../svg/logo.html
        +offCanvasMenu(navbarItems)
        //p.top__phone.center.p-ver-15.m-ver-0
        //    i.fa.fa-mobile.mr-20.fs-34.grey-text.text-lighten-1
        //    span.fs-18.fw-600 +7 999 99-99-999
        a.btn-large.btn-block.p-hor-15.m-per-20.orange.lighten-1(href="http://my.litani.ru/reg")
            i.fa.fa-pencil.mr-15.fs-20
            span.fs-18.fw-600 Регистрация
        a.btn-large.btn-block.p-hor-15.m-per-20.custom.red(href="http://my.litani.ru/")
            i.fa.fa-user.mr-15.fs-20
            span.fs-18.fw-600 Вход