header.top
    div.top__pattern._pic._back
    div.top__pattern._pic._front
    div.top__pattern._logo._back
    div.top__pattern._logo._front
        if index
            a.top__anchor(href='#', data-slide='1')
        else
            a.menu__anchor(href='/')
    div.top__logo.hidden-sm.hidden-ms.hidden-xs
        if index
            a.top__anchor(href='#', data-slide='1')
                include ../svg/logo-mini.html
        else
            a.menu__anchor(href='/')
                include ../svg/logo-mini.html
    a.top__logo.hidden-md.hidden-lg(href='/')
        include ../svg/logo.html
    a.top__trigger(href="#", data-activates="slide-out")
        i.fa.fa-bars
    div.top__inner.hidden-sm.hidden-ms.hidden-xs
        div.top__left
            +navMenu(menuItems, index)
        div.top__right
            //span.top__phone
            //    i.fa.fa-mobile.mr-10.fs-34.grey-text.text-lighten-1
            //    span.fs-18.fw-600 +7 999 99-99-999
            a.top__btn.btn-large.orange.lighten-1(href="http://my.litani.ru/reg", target='_blank')
                i.fa.fa-pencil.mr-15.fs-20
                span.fs-18.fw-600 Регистрация
            a.top__btn.btn-large.custom.red.ml-10(href="http://my.litani.ru/", target='_blank')
                i.fa.fa-user.mr-15.fs-20
                span.fs-18.fw-600 Вход
