doctype html
html
    include _variables
    include _mixins
    include ../sections/_head
    body.innerPage.grey.lighten-4
        include ../sections/_top
        include ../sections/_side-nav
        block content
        +navbar(navbarItems, activePage)
        include ../sections/_scripts