doctype html
html
    include _variables
    include _mixins
    include ../sections/_head
    body.activeSlide-1
        - index = true
        include ../sections/_top
        include ../sections/_side-nav
        block content
        include ../sections/_scripts