
mixin navbar(items, active)
    nav.navbar.center.hidden-sm.hidden-xs.hidden-ms
        ul.navbar__list.horizontal
            each item in items
                li.navbar__item
                    if item[1] == active
                        a.navbar__link._active.white-text.fs-16.fw-600(href="#{item[0]}")=item[1]
                    else
                        a.navbar__link.white-text.fs-16.fw-600(href="#{item[0]}")=item[1]
mixin navMenu(items, indexPage)
    ul.menu.horizontal
        each item, index in items
            li.menu__item
            if indexPage
                a.menu__anchor._slide.tdn.fs-18.fw-600(href=item[1], data-slide="#{index + 2}")=item[0]
            else
                a.menu__anchor.tdn.fs-18.fw-600(href=item[1])=item[0]

mixin offCanvasMenu(items)
    ul.menu.naked
        each item, index in items
            li.menu__item
                a.menu__anchor.tdn.fs-18.fw-600(href="#{item[0]}")=item[1]

mixin autoTable (list)
    table.table.stripe.center
        thead
            tr
                each item in list[0]
                    th.p-ver-15.orange.lighten-1.white-text= item
        tbody
            each item, index in list
                if !(index == 0)
                    tr
                        each count in item
                            td.p-ver-15= count

mixin slider(list)
    div.owl-carousel
        each item in list
            div.business__item.p-hor-10.pb-10
                div.card.mb-0
                    div.card-image
                        img(src="#{item[1]}")
                        span.card-title.p-ver-10.p-hor-20.fs-18.fw-700.grey-text.text-darken-2= item[0]
                    div.card-action
                        a.btn-large.btn-block.fs-22.orange(href='#{item[2]}') Подробнее

mixin principle(list)
    each item in list
        section.principle__item.white-text
            h3.fs-22= item[0]
            p.m-per-0= item[1]

