extends layouts/_business
block title
    title Маркетинг план
block content
    - activePage = 'Маркетинг план'
    section.page(style='background-image: url("images/inner/back-5.jpg")')
        div.container
            div.row
                div.fx-md-12
                    h2.center.white-text.fs-36 Маркетинг план
                        span.custom.red.z-depth-1.ml-10.p-hor-10.white-text.dib I уровень
                div.fx-md-12
                    section.card.bdb._orange
                        div.card-content.fw-600.fs-18.center
                            div.p-ver-20
                                img.responsive-img(src='images/inner/marketing-1.jpg')
                        div.orange.lighten-4.p-ver-10.p-hor-20
                            span.orange-text.text-lighten-1 1 балл = 35 рублей
            div.row
                div.fx-md-12
                    h2.center.grey-text.text-darken-2.fs-36 Маркетинг план
                        span.custom.red.z-depth-1.ml-10.p-hor-10.white-text.dib II уровень
                div.fx-md-8.fx-md-offset-2
                    div.card.orange.white-text
                        div.card-content.fw-600.fs-18
                            p.
                                Для дистрибьюторов, квалифицированных в рамках маркетинг-плана
                                2-го уровня, доступна автопрограмма «Premium».
                    div.card.bdb._orange
                        div.card-content.fw-600.fs-18
                            div.row
                                div.fx-md-6.center
                                    img(src='images/inner/marketing-2.png')
                                div.fx-md-6
                                    h3.m-per-0.fs-30 Изумруд
                                    ul.dotted
                                        li.p-ver-5 Три ветви по 8 000 баллов
                                        li.p-ver-5 Выделяется 2,5% от общего месячного товарооборота (коэффициент 1,0)
                                        li.p-ver-5 Коэффициент увеличивается на 0,5 за каждую следующую ветвь в 8 000 баллов
                    div.card.bdb._orange
                        div.card-content.fw-600.fs-18
                            div.row
                                div.fx-md-6.center
                                    img(src='images/inner/marketing-3.png')
                                div.fx-md-6
                                    h3.m-per-0.fs-30 Рубин
                                    ul.dotted
                                        li.p-ver-5 Три ветви по 20 000 баллов
                                        li.p-ver-5 Выделяется 1,5% от общего месячного товарооборота (коэффициент 1,0)
                                        li.p-ver-5 Коэффициент увеличивается на 0,5 за каждую следующую ветвь в 20 000 баллов
                    div.card.bdb._orange
                        div.card-content.fw-600.fs-18
                            div.row
                                div.fx-md-6.center
                                    img(src='images/inner/marketing-4.png')
                                div.fx-md-6
                                    h3.m-per-0.fs-30 Бриллиант
                                    ul.dotted
                                        li.p-ver-5 Три ветви по 80 000 баллов
                                        li.p-ver-5 Выделяется 1,0% от общего месячного товарооборота (коэффициент 1,0)
                                        li.p-ver-5 Коэффициент увеличивается на 0,5 за каждую следующую ветвь в 80 000 баллов

