extends layouts/_business
block title
    title Автопрограмма
block content
    - activePage = 'Автопрограмма'
    section.page(style='background-image: url("images/inner/back-4.jpg")')
        div.container
            div.row
                div.fx-md-12
                    h2.center.white-text.fs-36= activePage
                div.fx-md-8.fx-md-offset-2
                    section.card.bdb._orange
                        div.card-content.fw-600.fs-18
                            p.
                                В современном мире автомобиль &#8212; признак успешного человека,
                                подчеркивающий деловой
                                образ и дарящий свободу перемещения.
                        img.responsive-img(src='images/inner/auto-1.jpg')
                        div.card-content.fw-600.fs-18
                            p.
                                В качестве вознаграждения при выполнении условий маркетинг-плана компания
                                <strong>«Litani»</strong> дарит Вам возможность получить личный автомобиль,
                                приняв участие в Автопрограмме.
                            p.
                                Бонусное вознаграждение по автопрограмме рассчитывается ежемесячно
                                исходя из достигнутой квалификации партнёром Компании за прошлый отчётный период.
                    h2.center.grey-text.text-darken-2.fs-36 Автопрограмма
                        span.custom.red.z-depth-1.ml-10.p-hor-10.white-text.dib «START»
                    section.card.bdb._orange
                        div.card-content.fw-600.fs-18
                            p.
                                Партнёры Компании, достигшие статуса <strong>17 %</strong> и подтвердившие его
                                в течение 1 календарного месяца, могут претендовать на
                                получение бонусных выплат по автопрограмме «Start».
                            p.
                                Действие автопрограммы «Start» рассчитано на 60 месяцев (5 лет), в течение
                                которых при выполнении условий маркетинг-плана партнёр получает
                                бонусные выплаты, которые осуществляются ежемесячно.
                            p.
                                Партнёр по своему усмотрению может выбрать автомобиль из трёх
                                предложенных: <strong>Volkswagen Polo</strong>, <strong>Škoda Octavia</strong>, <strong>Kia Optima</strong>.
                                Срок и величина выплат не зависят от выбранного автомобиля
                                и определяются маркетинг-планом Компании.
                        +autoTable(autoTableList)
            div.row
                each item, index in autoPic
                    if (index != 3 && index !=4)
                        div.fx-md-4
                            div.card.bdb._orange
                                div.card-image
                                    img(src=item[1])
                                    span.card-title.fw-900.fs-30.p-per-10.white-text= item[0]
            div.row
                div.fx-md-8.fx-md-offset-2
                    h2.center.grey-text.text-darken-2.fs-36 Автопрограмма
                        span.custom.red.z-depth-1.ml-10.p-hor-10.white-text.dib «PREMIUM»
                    section.card.bdb._orange
                        div.card-content.fw-600.fs-18
                            p.
                                Лидеры Компании, достигшие квалификаций 2-го уровня маркетинг-плана и
                                подтвердившие результат в течение 1 календарного месяца,
                                могут претендовать на получение бонусных выплат по автопрограмме «Premium».
                            p.
                                Действие автопрограммы «Premium» рассчитано на 60 месяцев (5 лет),
                                в течение которых партнёр ежемесячно получает бонусные
                                выплаты в зависимости от выполнения условий маркетинг-плана.
                            p.
                                Партнёр по своему усмотрению может выбрать автомобиль
                                из двух предложенных: <strong>Mercedes-Benz</strong> и <strong>BMW</strong>. </br>
                                Срок и величина выплат не зависят от типа выбранного автомобиля и остаются
                                неизменными согласно маркетинговому плану Компании.

                        table.table.stripe.center.fw-600
                            thead
                                tr
                                    each item in autoPremium[0]
                                        th.p-ver-15.orange.lighten-1.white-text= item
                            tbody
                                each item, index in autoPremium
                                    if (index != 0)
                                        tr
                                            td.p-ver-10
                                                div.left-align.center-block(style="width: 120px; ")
                                                    img.vam.mr-10(src=item[0])
                                                    span=item[1]
                                            td.p-ver-10
                                                span=item[2]
                    div.row
                        each item, index in autoPic
                            if (index == 3 || index ==4)
                                div.fx-md-6
                                    div.card.bdb._orange
                                        div.card-image
                                            img(src=item[1])
                                            span.card-title.fw-900.fs-30.p-per-10.white-text= item[0]



