extends layouts/_business

block title
    title Отдых с компанией
block content
    - activePage = 'Отдых с компанией'
    section.page(style='background-image: url("images/inner/back-3.jpg")')
        div.container
            div.row
                div.fx-md-12
                    h2.center.white-text.fs-36= activePage
                div.fx-md-8.fx-md-offset-2
                    section.card.bdb._orange
                        div.card-content.fw-600.fs-18
                            p.
                                Компания <strong>«Litani»</strong> организует путешествия и отдых для своих партнёров,
                                погружая их в водоворот интересных событий!  Вы окунётесь в атмосферу
                                праздника в кругу единомышленников, получите новые знания и силы для будущих
                                свершений и убедитесь в правильности сделанного когда-то выбора!
                            div.m-ver-20
                                img.responsive-img(src='images/inner/recreation-1.jpg')
                            h4 Каждый партнёр может отправиться на отдых за счёт компании.
                            p.
                                Руководство <strong>«Litani»</strong> ответственно относится к ведению бизнеса
                                и создает комфортные
                                условия для работы и отдыха своим партнёрам. И это позволяет
                                сотрудничать с Компанией долговременно и плодотворно!
