extends layouts/_business

block title
    title Обучение
block content
    - activePage = 'Обучение'
    section.page(style='background-image: url("images/inner/back-2.jpg")')
        div.container
            div.row
                div.fx-md-12
                    h2.center.white-text.fs-36 Обучение
                div.fx-md-8.fx-md-offset-2
                    section.card.bdb._orange
                        div.card-content.fw-600.fs-18
                            p.
                                Обучение в компании <strong>«Litani»</strong> построено на основе комплексных
                                технологий, передаёт знания и опыт лидеров Компании, создавая прочный фундамент
                                для Вашей успешной карьеры.
                            p.fw-900.
                                Концепция обучения:
                            ul.dotted
                                li.p-ver-5 обучение в области продукции компании
                                li.p-ver-5 многоэтапное обучение построению бизнеса
                        div.p-per-20.center.orange.lighten-1
                            img.responsive-img(src='images/inner/study-1.png')
                            img.responsive-img(src='images/inner/study-2.png')
                            img.responsive-img(src='images/inner/study-3.png')
                            img.responsive-img(src='images/inner/study-4.png')
                        div.card-content.fw-600.fs-18
                            p.fw-900.
                                Обучение происходит как на выездных мероприятиях Компании,
                                так и c помощью интернет-технологий.
                            p.
                                Основной целью всех учебных курсов компании <strong>«Litani»</strong> является полная
                                передача профессионального опыта всем партнёрам для достижения каждым личного успеха.
