extends layouts/_business
block title
    title Легкий старт
block content
    - activePage = 'Реферальная система'
    section.page(style='background-image: url("images/inner/back-1.jpg")')
        div.container
            div.row
                div.fx-md-12
                    h2.center.white-text.fs-36#ref Реферальная система
                div.fx-md-8.fx-md-offset-2
                    section.card.bdb._orange
                        div.card-content.fw-600.fs-18
                            p.
                                Компания <strong>«Litani»</strong> имеет собственную реферальную программу, при которой партнёры
                                строят свою команду, получая при этом трёхуровневое вознаграждение.
                            div.m-ver-20
                                img.responsive-img(src='images/inner/pic-1.jpg')
                            p.fw-900 Одна из основных целей сетевого бизнеса – получение пассивного дохода.
                            p.
                                Реферальная система позволит Вам двигаться к этой цели, чувствуя себя комфортно
                                уже на старте Вашего бизнеса.
                div.fx-md-12
                    h2.center.grey-text.text-darken-3.fs-36#start Лёгкий старт
                div.fx-md-8.fx-md-offset-2
                    section.card.bdb._orange
                        div.card-content.fw-600.fs-18
                            p.
                                Компанией <strong>«Litani»</strong> разработаны три типа регистрационных пакетов, позволяющих
                                партнёрам компании максимально быстро и эффективно расширять свою структуру за счет
                                регистрации как потребителей продукции, так и партнёров по бизнесу.
                            div.m-ver-20
                                div.row
                                    div.fx-md-3.center
                                        img.responsive-img(src='images/inner/start-1.png')
                                    div.fx-md-9
                                        p.mt-0.
                                            <strong>Регистрационный статус “Клиент”</strong>
                                            предоставляет доступ к Дисконтному кабинету с действующей накопительной
                                            скидкой. Процент скидки растёт с увеличением количества
                                            приобретённых продуктов Компании.
                            div.m-ver-20
                                div.row
                                    div.fx-md-3.center
                                        img.responsive-img(src='images/inner/start-2.png')
                                    div.fx-md-9
                                        p.mt-0.
                                            <strong>Регистрационный статус  “Стажёр”</strong> предоставляет доступ
                                            к Личному кабинету с возможностями построения собственной команды
                                            и получения Спонсорского бонуса. </br>
                                            Дистрибьютору Компании в регистрационном статусе «Стажёр» предоставляется
                                            доступ к Магазину Компании с возможностью приобретения продукции по
                                            партнёрским ценам. </br>
                                            Средства, накопленные на личном балансе, дистрибьютор Компании в статусе
                                            «Стажёр» может потратить только на приобретение продукции в Магазине
                                            Компании, а также на повышение своего регистрационного статуса.
                            div.m-ver-20
                                div.row
                                    div.fx-md-3.center
                                        img.responsive-img(src='images/inner/start-3.png')
                                    div.fx-md-9
                                        p.mt-0.
                                            <strong>Регистрационный статус “Партнёр”</strong>
                                             предоставляет доступ к Личному кабинету с возможностями построения
                                             собственной команды и получения трёхуровневого Спонсорского бонуса. </br>
                                            Доступна расширенная статистическая информация для анализа деятельности
                                            своей команды, что позволяет оптимизировать работу, правильно
                                            выстраивая свой бизнес. </br>
                                            Дистрибьютору Компании в регистрационном статусе “Партнёр”
                                            предоставляется доступ к Магазину Компании с возможностью приобретения
                                            продукции по партнёрским ценам.
                div.fx-md-12
                    h2.center.grey-text.text-darken-3.fs-36#bonus Бонус с продаж
                div.fx-md-8.fx-md-offset-2
                    section.card.bdb._orange
                        div.card-content.fw-600.fs-18
                            p.
                                Осуществляя личные продажи, дистрибьюторы Компании имеют возможность сразу
                                зарабатывать деньги, получая разницу между партнёрской ценой и
                                рекомендованной ценой розничной продажи.
                            div.m-ver-20
                                img.responsive-img(src='images/inner/bonus-1.jpg')
                            p.fw-900 Доход от продаж составляет до 50% от партнёрской цены продукта.
