extends layouts/_default
block title
    title Litani
block content
    div.rev_slider_wrapper.tp-simpleresponsive
        div.rev_slider#page(data-version="5.0", data-offset="0")
            ul
                //include slides/slide-start.html
                //include slides/slide-action.html
                //include slides/slide-count.html
                include slides/slide-1.html
                include slides/slide-2.html
                include slides/slide-3.html
                include slides/slide-4.html
                include slides/slide-5.html
    section.page.hidden-md.hidden-lg
        section.main.center.custom.red.p-ver-20
            div.container
                div.row
                    div.fx-xs-12
                        div.main__logo.p-hor-40
                            include svg/logo.html
                        h2.fw-700.white-text.fs-22.m-per-0 Компания для жизни
                    div.fx-xs-12
                        div.p-ver-10
                            h2.fw-900.m-per-0.fs-24.ttu Нас уже
                            div.white-text.fw-900.fs-36.countMembers 836
                            h3.fw-900.m-per-0.ttu.fs-24 Присоединяйся
                    div.fx-xs-12.center
                        a.btn-large.fw-600.fs-24.p-hor-30.white.custom-text.red-text(href="http://my.litani.ru/reg", target='_blank')
                            i.fa.fa-pencil.mr-10
                            span Регистрация
        //section.salesStart.orange.p-ver-20
            div.container
                div.row
                    div.fx-xs-12
                        h2.ttu.fs-22.center.mt-0.fw-700.white-text Старт продаж
                        div.tp-countdown
                            div.tp-countdown__box(data-type="d")
                                span 00
                                p Дней
                            div.tp-countdown__box(data-type="h")
                                span 00
                                p Часов
                            div.tp-countdown__box(data-type="m")
                                span 00
                                p Минут
                            div.tp-countdown__box(data-type="s")
                                span 00
                                p Секунд
                        h2.ttu.fs-22.center.mb-0.fw-700.white-text 14 апреля
        section.business.p-ver-20
            div.container
                div.row
                    div.fx-xs-12
                        h2.ttu.fs-22.center.mt-0.fw-700 Бизнес возможности
                        div.business__slider
                            +slider([
                                ['Легкий старт','images/slide-2/start.jpg', 'business-start.html#start'],
                                ['Реферальная система','images/slide-2/ref-link.jpg','business-start.html#ref'],
                                ['Бонус с продаж','images/slide-2/bonus.jpg', 'business-start.html#bonus'],
                                ['Автопрограмма','images/slide-2/auto.jpg','business-auto.html'],
                                ['Обучение','images/slide-2/study.jpg','business-study.html'],
                                ['Отдых с компанией','images/slide-2/recreation.jpg', 'business-recreation.html'],
                                ['Маркетинг план','images/slide-2/marketing.jpg','business-marketing.html']
                            ])


        section.principle.p-ver-20.orange
            div.container
                div.row
                    div.fx-xs-12
                        h2.ttu.fs-22.center.mt-0.fw-900.white-text Наши принципы
                        +principle([
                            [
                                'Продвигать качественные товары и услуги',
                                'Мы неустанно стремимся сделать качество продукции и научные достижения в области косметологии, парфюмерии и здорового питания ближе для вас и ваших семей. Каждый продукт мы создаем и производим как для собственного потребления и с удовольствием делимся с вами своими свершениями.'
                            ],
                            [
                                'Личная ответственность за своё здоровье и здоровье своей семьи',
                                'Здоровье и внутренняя красота человека зарождается в детстве, и в наших руках сделать так, чтобы жизнь шла полноценно не омрачаясь физическими и моральными недугами. Вести здоровый и активный образ жизни, отказаться и избавиться от вредных привычек, внимательно следить за своим питанием и позитивным настроем в мышлении – эти простые правила, которые изменят Вашу  жизнь к лучшему. Просто начните сегодня.'
                            ],
                            [
                                'Достижение финансового благополучия',
                                'Материальный успех – основа многих свершений, он помогает нам чувствовать себя стабильно и уверенно, создавая подспорье для личного развития. Быть финансово благополучным – значит приобрести устойчивость к внешним обстоятельствам и чувствовать свободу в поисках своего Пути.'
                            ],
                            [
                                'Улучшаем Мир',
                                'Какая бы ступень развития не находилась под Вашими ногами всегда нужно подниматься вверх. Шаг за шагом. Мы расширяем своё видение и границы и стремимся стать лучше самих себя, помогая людям вокруг нас достигать их целей, показывая им Путь.'
                            ],
                            [
                                'Любовь к Родине и культуре',
                                'Родина человека – это не пустой звук. Всё, что окружало человека в его детстве, люди вокруг, родительский дом, земля и небо – всё это питает и даёт ему силы на протяжении всей жизни, вдохновляя Человека идти к своей мечте.'
                            ]
                        ])
        section.news.p-ver-20
            div.container
                div.row
                    div.fx-md-12
                        h2.ttu.fs-28.center.mt-0.fw-900.grey-text Новости
                        img.responsive-img(src='images/slide-3/start.jpg')
                        p.grey-text.text-darken-1.center.
                            Компания "Литани" приглашает друзей!
                            21 мая 2016 года мы открываем регистрацию в
                            нашу команду! <br/> Будьте первыми!
        section.product.p-ver-20.grey.lighten-4
            div.container
                div.row
                    div.fx-md-12
                        h2.ttu.fs-28.center.mt-0.fw-900.grey-text.text-darken-2 Наша продукция
                        section.product__item
                            h3 Качество продукции
                            p  Наша компания уделяет качеству производимой продукции первостепенное значение.
                            p.
                                Качество - основа основ профессиональной и корпоративной репутации и всегда
                                ставится во главу угла руководством компании «Litani».
                            p.
                                Вся продукция производится с полным соблюдением всех государственных стандартов и
                                проходит контроль качества на всех этапах производства.
                            p.
                                Продукция имеет все необходимые сертификаты и разрешительные документы в
                                соответствии со стандартами отрасли.
                        section.product__item
                            h3 Контроль поставщиков
                            p.
                                Компания регулярно инспектирует производственные
                                мощности своих партнёров, контролирует наличие всей
                                разрешительной документации, в том числе и по вновь
                                введенным стандартам.
                            p.
                                На этапах производства компанией проводится контроль
                                поставляемых комплектущих для обеспечения максимального
                                качества выходного продукта.
                            p.
                                Контролю подвергается каждый артикул комплектующих поставляемых для производства продукции.
                            p.
                                С целью максимально качественного выходного продукта,
                                компанией внедрено несколько основных типов контроля.
                                Итоговый эффект всех видов статистичесткого,
                                выборочного и летучего контроля позволяет обеспечить
                                наилучший показатель качества продукции на этапе
                                производства.
                        section.product__item
                            h3 Маркетинговые исследования
                            p.
                                Компания «Litani» на регулярой основе проводит
                                маркетинговые исследования для разработки новых
                                направлений, позволяющих получать больший доход
                                нашим партнёрам:
                            h4.fw-900.fs-18 Исследование рынка:
                            ul.dotted
                                li.p-ver-5 определение размера и характера рынка
                                li.p-ver-5 определение географического размещения потенциальных потребителей
                                li.p-ver-5 определение удельного веса товаров основных конкурентов
                                li.p-ver-5 анализ общеэкономических и других внешних тенденций, влияющих на структуру рынка
                            h4.fw-900.fs-18 Логистические исследования:
                            ul.dotted
                                li.p-ver-5 анализ логистических графов для обеспечения эффективной логистики
                                li.p-ver-5 исследования возможностей снижение сроков доставки продукции до потребителя
                                li.p-ver-5 разработка новых логистических каналов и спобосов доставки
                            h4.fw-900.fs-18 Исследование потребительских свойств товаров:
                            ul.dotted
                                li.p-ver-5 анализ сильных и слабых сторон конкурирующих товаров рынка
                                li.p-ver-5 анализ замыслов новых изделий
                                li.p-ver-5 испытание новых изделий перед запуском в розничную структуру
                            h4.fw-900.fs-18 Исследование сбыта:
                            ul.dotted
                                li.p-ver-5 определение региональных различий сбыта
                                li.p-ver-5 оценка методов работы по стимулирования сбыта
                            h4.fw-900.fs-18 Экономический анализ (Business Economics):
                            ul.dotted
                                li.p-ver-5 анализ доходов сети по видам продукции
                                li.p-ver-5 краткосрочное и долгосрочное прогнозирование, основанное на анализе возникающих трендов
        section.contacts.custom.red.p-ver-20
            div.container
                div.row
                    div.fx-xs-12
                        h2.ttu.fs-28.center.mt-0.fw-900.white-text Контакты
                        div.card
                            div.card-content
                                div.p-ver-10
                                    h3.m-per-0 Общие вопросы
                                    a(href='mailto:info@litani.ru') info@litani.ru
                                div.p-ver-10
                                    h3.m-per-0 Тех.поддержка
                                    a(href='mailto:it@litani.ru') it@litani.ru
                                div.p-ver-10
                                    h3.m-per-0 Поддержка партнеров
                                    a(href='mailto:network@litani.ru') network@litani.ru
                        div.card
                            div.card-content
                                h2.fs-28.center.mt-0.fw-900 Обратная связь
                                form#feedback
                                    div.input-field
                                        input(id="first_name", name="first_name", type="text", class="validate")
                                        label(for="first_name") Введите Ваше имя
                                    div.input-field
                                        input(id="email", name="email", type="text", class="validate")
                                        label(for="email") Введите Ваш e-mail
                                    div.input-field
                                        textarea(id="message", name="message", class="materialize-textarea")
                                        label(for="message") Ваше сообщение
                            div.card-action
                                input.btn-large.btn-block.btn-full.orange.p-hor-20.fs-20(type="submit", value="Отправить")
        div(style="display: none;")
            div(id="org", class="modal")
                div.arcticmodal-close.modal__close
                    i.fa.fa-close
                div.modal__content
                    h2 Производитель и генеральный поставщик продукции:
                    p.
                        #[strong ООО «Литани»] #[br]
                        Ростовская область, г. Таганрог, ул Фрунзе 53-4 #[br]
                        ИНН/КПП 6154143680/615401001#[br]
                        ОГРН 1166196070347#[br]
                        Дата регистрации: 14.04.2016 г.#[br]
                        Уставный капитал: 500 000 руб.#[br]
                    p.
                        Банковские реквизиты:#[br]
                        р/с 40702810726000003682#[br]
                        к/с30101810900000000556#[br]
                        БИК 040349556#[br]
                        Южный филиал АО "Райффайзенбанк" г. Краснодар#[br]

                    h3 Генеральный партнёр-дистрибьютор по территории Российской Федерации и странам СНГ

                    p.
                        #[strong ИП Левченко Маргарита Юрьевна]#[br]
                        Ставропольский край, Советский район, г. Зеленокумск, пер. 50-лет Октября, д. 44#[br]
                        ИНН 261907581391#[br]
                        ОГРН 315265100132624#[br]
                        Дата регистрации: 31.12.2015 г. #[br]
                        Банковские реквизиты:#[br]
                        р/с  40802810260100423094#[br]
                        к/с 30101810907020000615    БИК 040702615#[br]
                        Ставропольское отделение № 5230 ПАО «Сбербанк»#[br]

















