extends layouts/_default
block title
    title Litani - регистрация
block content
    mixin regFormField(id, text)
        div.input-field
            input(id="#{id}", type="text", class="validate")
            label(for="#{id}")= text

    div.page
        section.registration
            div.container
                div.row
                    div.fx-md-12
                        h1.registration__title.center.fw-900.ttu Регистрация
                    div.fx-md-8.fx-md-offset-2
                        div.card
                            div.card-content
                                span.card-title Введите номер спонсора

                                div.input-field
                                    input(id="sponsor_num", type="text", class="validate")
                                    label(for="sponsor_num") Номер спонсора
                                p.
                                    Номер спонсора, который вам дал Ваш спонсор.
                            div.card-action
                                button.btn Проверить

                        div.card
                            div.card-content
                                span.card-title Заполните анкету
                                +regFormField('first_name', 'Ваше имя')
                                +regFormField('last_name', 'Ваша фамилия')
                                +regFormField('second_name', 'Вашe отчество')
                                +regFormField('reg_mail', 'Ваш e-mail')
                            div.card-action
                                button.btn Проверить
                        div.card
                            div.card-content
                                span.card-title Введите код подтвержения
                                +regFormField('your_code', 'Код подтверждения')
                            div.card-action
                                button.btn Проверить



